a {
    color: #00B7FF;
}

.room-btn{
    /* display: inline-block;
    position: relative; */
    padding: 3px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 5px #36528c;/*ボタン色より暗めに*/
    border-right: solid 5px #5375bd;/*ボタン色より暗めに*/
}

.butn{
    /* position: relative;
    display: inline-block; */
    padding: 3px;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    /* font-weight: bold; */
    border: solid 2px #d27d00;
}


div {}

.row {
    /* margin: 20px; */
}

form#room{
    /* width: 100vw; */
    width: 100%;
    display: flex;
    justify-content: start;
}

#group-chat-form{
    /* width: 100vw; */
    width: 100%;
    display: flex;
    justify-content: start;
}
#room-member-list{
    display: flex;
}
/*
 * ボタンの共通設定
 */
.common-button {
    font-size: 14px;
}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {}

.index-user_name_text {
    /* width: 200px; */
}

.index-enter {}

.index-enter_button {}

.contain {
    display: flex;
    width: 100vw;
}

/*
    サイドバーの設定
*/

.sidebar {
    width: 15%;
    height: 100vh;
    padding: 5px;
    border-right: solid #00B7FF;
}

.room {
    width: 100%;
    height: 40%;
}

.room h5 {
    font-weight: bold;
    text-align: center;
}

.member {
    width: 100%;
    height: 60%;
}

.member h5 {
    font-weight: bold;
    text-align: center;
}

/*
    DM部分の設定
*/

.rightbar {
    width: 25%;
    height: 100vh;
    padding: 5px;
    border-left: solid #00B7FF;
}

.rightbar h4 {
    text-align: center;
    font-weight: bold;
}

.dm-message{
    height: calc(100% - 30px - 20%);
    overflow: scroll;
    width: 100%;
}

.dm-text{
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: start;
    width: 100%;
}

/*
 * チャットルーム画面（room.hbs）に関する設定
*/

.main {
    width: 60%;
    height: 100vh;
    padding: 5px;
}

.group {
    height: 15%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid #00B7FF;
    align-items: center;
}

.group-main{
    display: flex;
    justify-content: start;
}

.group-name {
    font-weight: bold;
}

.group-member {}

.group-member_list {
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
    line-height: 15%;
}

.room-exit {
}

.chat {
    display: flex;
    width: 100%;
    height: 80%;
    margin-top: 8px;
}

.timeline {
    width: 50%;
    height: 100%;
    padding: 5px;
    border-right: solid black;
    position: relative;
}

.chat-title{
    text-align: center;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 5px;
    border-bottom: solid 1px black;
}

.chat-title h4{
    margin: 0 auto;
}

.chat-message{
    height: calc(100% - 30px - 20%);
    overflow: scroll;
    width: 100%;
}

.chat-text{
    height: 15%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: start;
    width: 100%;
}

.chat-post{
    width:100%;
    height: 100%;
    /* display: flex;
    justify-content: start; */
}

.room-message {
    width: 70%;
}

.room-message_textarea{
    width: 100%;
}

.room-submit{
    margin-left: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.room-submit input{
    margin-bottom: 5px;
}

.groupchat {
    width: 50%;
    height: 100%;
    padding: 5px;
    position: relative;
}

.user {
    display: flex;
    justify-content: flex-start;
}

.room-login_user {}

.room-message {}

.room-publish_button {}

.room-memo_button {}

.room-thread {}

.room-exit_button {}

#chat {
    border: thin groove #DDDDDD;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 5px;
}

#chat_date {
    font-size: 10px;
    margin: 0px;
}

#chat_message {
    font-weight: bold;
    margin: 0px;
}
