/*
 * 画面全体に関する設定
 */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --dark-color-a: #667aff;
    --dark-color-b: #7386ff;
    --light-color: #e6e9ff;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: var(--light-color);
}

a {
    color: #00B7FF;
}

div {}

.row {
    /* margin: 20px; */
}

form {
    /* width: 100vw; */
}

/*
 * ボタンの共通設定
 */
.common-button {}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {}

.index-user_name_text {
    /* width: 200px; */
}

.index-enter {}

.index-enter_button {}

.contain {
    display: flex;
    width: 100vw;
}

/* 
    サイドバーの設定
*/

.sidebar {
    width: 15%;
    height: 100vh;
    padding: 5px;
    border-right: solid #00B7FF;
}

.room {
    width: 100%;
    height: 40%;
}

.room h5 {
    font-weight: bold;
    text-align: center;
}

.member {
    width: 100%;
    height: 60%;
}

.member h5 {
    font-weight: bold;
    text-align: center;
}

/*
    DM部分の設定
*/

.rightbar {
    width: 25%;
    height: 100vh;
    padding: 5px;
    border-left: solid #00B7FF;
}

.rightbar h4 {
    text-align: center;
    font-weight: bold;
}

/*
 * チャットルーム画面（room.hbs）に関する設定
*/

.main {
    width: 60%;
    height: 100vh;
    padding: 5px;
}

.group {
    height: 15%;
    padding: 15px;
    display: flex;
    justify-content: start;
    border-bottom: solid #00B7FF;
}

.group-name {
    font-weight: bold;
}

.group-member {}

.group-member_list {
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
    line-height: 15%;
}

.chat {
    display: flex;
    width: 100%;
    height: 85%;
    margin-top: 45px;
}

.timeline {
    width: 50%;
    height: 100%;
    border-right: solid black;
}

.groupchat {
    width: 50%;
    height: 100%;
}

.user {
    display: flex;
    justify-content: flex-start;
}

.room-login_user {}

.room-message {}

.room-message_textarea {
    /* width: 500px; */
}

.room-submit {}

.room-publish_button {}

.room-memo_button {}

.room-thread {}

.room-exit {
    margin-left: 20px;
}

.room-exit_button {}

#chat {
    border: thin groove #DDDDDD;
    border-radius: 10px;
    margin: 5px 0px;
    padding: 5px;
}

#chat_date {
    font-size: 10px;
    margin: 0px;
}

#chat_message {
    font-weight: bold;
    margin: 0px;
}
