<div class="container">
    <div class="row">
        <h1>プログラミング言語について語り合おう</h1>
    </div>
    <div class="row">
        <form id="logIn_form" name="logIn_form" method="post" action="/room">
            <div class="index-user_name">
                <div>
                    ユーザ名
                    <input type="text" id="userName" name="userName" class="index-user_name_text" required>
                    パスワード
                    <input type="text" id="userPassword" name="userPassword" class="index-user_name_text" required>
                </div>
            </div>
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="PHP">PHP</option>
                    <option value="C#">C#</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Java">Java</option>
                </select>
            </div>
            <div class="index-enter">
                <input type="button" value="入室する" class="common-button index-enter_button" onclick="enter();">
            </div>
        </form>
        <form id="signUp_form" name="signUp_form" method="post" action="/sign_up">
            <input type="button" value="新規アカウント" class="common-button index-enter_button" onclick="signUp();">
        </form>
    </div>
</div>

<script src="/javascripts/index.js"></script>