<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>talking PGLG</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/all.css" />
    <link rel="stylesheet" href="/stylesheets/auth.css" />
    <link rel="stylesheet" href="/stylesheets/room.css" />
    {{!-- <link rel="stylesheet" href="/stylesheets/room2.css" /> --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    {{{body}}}
</body>

</html>