<div class="join-container">
    <div class="join-header">
        <h1>新規アカウント登録</h1>
    </div>
    <div class="join-main">
        <form id="logIn_form" name="logIn_form" method="post" action="/room">
            <div class="index-user_name">
                <div>
                    ユーザ名
                    <input type="text" id="userName" placeholder="ユーザー名" name="userName"
                        class="index-user_name_text form-control" required>
                </div>
                <br>
                <div>
                    パスワード
                    <input type="text" id="password" placeholder="パスワード" name="password"
                        class="index-user_name_text form-control" required>
                </div>
            </div>
            <br>
            <div class="form-control">
                <label for="room">Room</label>
                <select name="room" id="room">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="PHP">PHP</option>
                    <option value="C#">C#</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Java">Java</option>
                </select>
            </div>
            <div class="index-enter">
                {{!-- <button type="submit" value="登録して入室する" class="btn btn-success" onclick="enter('signUp');">
                    登録して入室する
                </button> --}}
                <input type="button" value="登録して入室する" class="btn btn-success" onclick="enter('signUp');">
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/index.js"></script>